// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.input-group-text {
    background: rgb(248, 246, 246) !important;
    border: none;
    border-bottom: 1px solid grey !important;
}


  .fa-heart:hover
  {
    color:rgb(175, 10, 10) !important;
  }
  .fa-thumbs-up:hover
  {
    color:rgb(23, 25, 172) !important;
  }
  .fa-thumbs-down:hover
  {
    color:rgb(52, 52, 54) !important;
  }
  .fa-comments-o:hover
  {
    color:rgb(52, 52, 54) !important;
  }

#panel {
    width: 0px;
    background-color: #f8f9fa !important;
    position: fixed;
    z-index: 2 !important;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

input:focus,
textarea:focus,
select:focus,
.input-group-prepend:focus {
    outline: none !important;
    box-shadow: 1px 1px lightgrey !important;
    z-index: 0 !important;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

input[type="file"]
{
    display: block;
    color:transparent !important;
}

// tooltip title
[data-title] {
    position: relative;

  }

  [data-title]:hover::before {
    content: attr(data-title);
    position: absolute;
    bottom: 18px;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 2px;
    background: #000;
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
    white-space: nowrap;
    border-radius:5px;
    padding:5px
  }
  [data-title]:hover::after {
    content: '';
    position: absolute;
    top: -2px;
    left: 8px;
    display: inline-block;
    color: #fff;
    border: 8px solid transparent;
    border-top: 8px solid #000;
  }

::-webkit-scrollbar {
    width: 2px;
    height: 2px ;

  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    display: none;
  }



  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgb(231, 229, 229);
    border-radius: 1px;
  }

select{
   cursor: pointer !important;
}

input[type='date']{
    cursor: pointer !important;
}
// Zoom effect
.zoom {
    transition: transform .2s; 
  }

  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    z-index: 2 !important;
  }


.input-file-image
{
   background-image: url('../../images/avater.png');
   background-repeat: no-repeat;
   background-size: cover;
   height: 27px;
   width: 27px;
   border-radius: 5px;
    color: transparent;
    cursor: default;
}

.Dlink{
cursor: pointer;
}


.bg{
    background-image:url(../js/images/apple-device-beverage-chat-1243365.jpg);
    background-size:cover;
     height: 100vh;

   }
   .overlay{
    background:rgba(0, 0, 0, 0.6);
     height: 100vh;
   }
